@media (min-resolution: 192dpi), (min-resolution: 2dppx){
    .main-head{
        background-image: url("../img/bcg/bcgx2@2x-min.jpg");
    }
    .photography::before{
        background-image: url("../img/services/alarm@2x.png");
    }
    .web::before{
        background-image: url("../img/services/graph@2x.png");
    }
    .creativity::before{
        background-image: url("../img/services/computer@2x.png");
    }
    .seo::before{
        background-image: url("../img/services/seo@2x.png");
    }
    .ch::before{
        background-image: url("../img/services/home@2x.png");
    }
    .digital::before{
        background-image: url("../img/services/image@2x.png");
    }
}

@media (max-width: 1000px) {
    .menuToggle {
        display: flex;
    }
    .nav-list-wrap {
        width: 150px;
        padding-right: 15px;
        flex-direction: column;
        position: fixed;
        right: 0;
        align-items: flex-end;
        transform: translateX(100%);
        z-index: 200;

    }
    .nav-list {
        flex-direction: column;

    }
    .nav-list__item {
        margin-left: auto;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .selected {
        transform: translate(0);
        transition: 0.3s;

    }

    .overlay-page {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-overflow-scrolling: touch;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-color: rgba(7, 7, 7, 0.7);
        display: none;
        z-index: 102;
    }
    .on-hidden{
        display: none;
    }

    .on-overlay{
        display: block;
        z-index: 110;
    }

    .none-scroll {
        overflow: hidden;
    }
}